.main {
  width: 80%;
  height: 80%;
  background-color: whitesmoke;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1 {
  margin-top: 2rem;
  color: #333;
}

.h3 {
  color: #333;
}

.h4 {
  margin-top: 4rem;
  color: #333;
}
.fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
}

.label {
  width: 70%;
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: left;
}
input[type],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  width: 30%;
  border-radius: 15px;
  background-color: rgba(50, 170, 36, 0.736);
  padding: 15px;
  transition: all ease-in 0.22s;
  margin-bottom: 10%;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(49, 170, 36);
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.505);
  transform: translateY(-4px);
}

.form--wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: 'form images';
  grid-template-columns: 5fr 4fr;
}

.form {
  grid-area: form;
  margin-top: 4rem;
  text-align: center;
  width: 100%;
}
.form-element {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}

.form--images {
  width: 100%;
  margin-top: 4rem;
  background: url('https://images.unsplash.com/photo-1516339901601-2e1b62dc0c45?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=671&q=80');
  grid-area: images;
  display: flex;
}

.col-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.col-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.col-left > img:first-child {
  margin-top: 50%;
}
.col-right > img:last-child {
  margin-bottom: 50%;
}

.splash-images {
  max-width: 80%;
  border: #ccc 5px solid;
}
