.sidebar {
  --sidebar-heading: rgba(231, 111, 81, 0.495);
  height: 120vh;
  overflow: scroll;
}
a {
  min-height: 205px;
}

.sidebar::-webkit-scrollbar {
  width: 1em;
}

.sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.sidebar__heading {
  padding-top: 8rem;
  width: 100%;
  background: linear-gradient(to top, var(--sidebar-heading), var(--hero));
}

.accordion {
  min-width: 17vw;

  position: relative;
}

.accordion__title {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--nav);
  color: var(--nav-text);
}

.accordion__title:hover {
  background-color: #062025;
}

.title-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.accordion__title,
.accordion__content {
  padding: 1rem;
}

.accordion__content {
  background-color: var(--main);
  color: var(--nav);
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
}

.accordion__content--img {
  width: 250px;
}

.sidebar__footer {
  width: 100%;
  background: linear-gradient(to top, var(--sidebar-heading), var(--hero));
  height: 100px;
  flex-direction: row;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}
