.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__heading {
  -webkit-text-stroke: 2px black;
  width: 100%;
  color: var(--nav-text);
  text-align: center;
  top: 30%;
  position: absolute;
  font-size: 10.5rem;
  height: 15%;
  padding: 30px;
  z-index: 1;
}

.hero__caption {
  font-size: 3rem;
  color: var(--nav-text);
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  text-align: center;
}

.hero__img {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  background-image: url('https://images.unsplash.com/photo-1522542550221-31fd19575a2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__img > img {
  width: 100%;
}

.hero__img::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#e76f51a1, #e76f51);
}
